# Godot
.godot/
.import/

# Экспорт
export/
export_presets.cfg

# Системное
.DS_Store
Thumbs.db
*.swp
*~

# Временные файлы редактора Godot
*.tmp
*.bak

# Mono / C#
.mono/
data_*/
mono_crash.*

# IDE
.idea/
.vscode/
*.code-workspace
